@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
 body{
    background-color: rgb(16, 29, 73);
 }
 *{
    margin: 0;
    padding: 0;

 }
 nav{
    font-family: 'Ubuntu', sans-serif;
 }
 nav ul{
    display: flex;
    list-style: none;
    height: 75px;
    background-color: white;
    color: black;
   align-items: center;
 }
 .brand img{
   height: 75px;
  
  }
 nav ul li{
    padding: 0 8px;
 }
 .brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
 }
 .container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin:16px auto;
    border-radius: 12px;
    background-image: url("sing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }
   .bottom{
    position: sticky;
    height: 110px;
    background-color:black;
    color: white;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   }
#myProgressBar{
   width: 80vw;
}
.icons{
    margin: 12px 0;
}
.songItem img{
    width:2vw;
    border-radius: 34px;
}
.songItem{
    margin: 0 12px;
     height:  31px;
    display: flex;
    background-color: rgb(14, 207, 207);
    color: black;
    margin: 8px 12px;
   justify-content: space-between;
   align-items: center;
   border-radius: 12px;
}
.songlistplay{
    padding: 0 12px;
}
.songlistplay i {
 cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
}
.songInfo img{
    opacity: 0;
    transition:opacity 0.5 s ease-in ;
}
 
@media (max-width: 740px){
 
   .songName{
      font-size: 0.75rem;
   }
   .songInfo{
      display: flex;
      flex-direction: column;
      padding-top: 70px;
   }
}
